#window_main_chat {
    background-image: linear-gradient(rgba(59, 54, 50, 0.521), rgba(0, 33, 50, 1));
}

#label_user_name, #user_message, #fiend_entry, #entry_text_message, #contact_row {
    font-size: 15px;
}

#label_user_name {
	color: white;
}

#contact_row {
    border-bottom: 1px solid white;
    padding: 8px;
}

#user_message {
    background: rgb(0,33,50);
    border-radius: 8px;
    padding: 8px;
    margin: 2px 8px 2px 0;
    color: white;
}


#theme_switch {
    background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 1));
}

/*some transparency*/
#scrolled_chats_list { 
	background: transparent;
}

#scrolled_window_chats {
    border: 1px solid white;
    border-radius: 10px;
}

#scrolled_window_corespondent {
    border: 1px solid white;
    border-radius: 10px;

}

#contact_row {
    border-bottom: 1px solid grey;
    padding: 8px;
}
