
	window {
		border: 5px double grey;
    	background-image: linear-gradient(rgba(232, 203, 192, 0.521), rgba(99, 111, 164, 1));
	}

	button {
		border-radius: 5px;
	    border-width: 0px;
	    box-shadow: none;
	}

	#register_button {
		background-image: linear-gradient(rgba(65, 131, 215, 0.521), rgba(83, 51, 237, 1));
		color: black;
		font-weight: 600;
	}

	#login_button {
		background-image: linear-gradient(rgba(1, 152, 117, 0.521), rgba(46, 204, 113, 1));
		color: black;
		font-weight: 600;
	}

	#register_button:hover, #login_button:hover {
		font-weight: 800;
	}